<!DOCTYPE html>
<html lang="en">
    <head>
      <title>TV Base {{ PROGRAM_VERSION }}</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}extjs/resources/css/ext-all-notheme.css" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}extjs/resources/css/xtheme-blue.css" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}extjs/resources/css/custom.css" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.alerts.css" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js" type="text/javascript"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.alerts.js" type="text/javascript"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}extjs/adapter/jquery/ext-jquery-adapter.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}extjs/ext-all.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}extjs/src/locale/ext-lang-ru.js"></script>
      {% block head %}{% endblock %}
    </head>
    <body id="body_tag">
       {% block body %}{% endblock %} 
    </body>
</html>