{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <title>TV Base {{ PROGRAM_VERSION }}</title>
      <meta charset="utf-8" />
      {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static "extjs/resources/css/ext-all.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "extjs/resources/css/xtheme-gray.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "extjs/resources/css/custom.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "css/jquery.alerts.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
      {% endcompress %}
      {% compress js %}
      <script type="text/javascript" src="{% static "js/jquery.js" %}" type="text/javascript"></script>
      <script type="text/javascript" src="{% static "js/jquery.alerts.js" %}" type="text/javascript"></script>
      <script type="text/javascript" src="{% static "extjs/adapter/jquery/ext-jquery-adapter.js" %}"></script>
      <script type="text/javascript" src="{% static "extjs/ext-all-debug-w-comments.js" %}"></script>
      <script type="text/javascript" src="{% static "extjs/src/locale/ext-lang-ru.js" %}"></script>
      {% endcompress %}
      {% block head %}{% endblock %}
    </head>
    <body id="body_tag">
       {% block body %}{% endblock %} 
    </body>
</html>