{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% url "ui:api" %}?v={{ PROGRAM_VERSION }}і"></script>
    <script type="text/javascript" src="{% static "js/ui-head.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/Ext.ux.grid.CheckColumn.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/Ext.stores.js" %}?v={{ PROGRAM_VERSION }}"></script>
    {% compress js %}
{#    <script type="text/javascript" src="{% static "js/Ext.ux.components.js"></script>#}
    <script type="text/javascript" src="{% static "js/components/Ext.ux.msg.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.traceback.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.LoginForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.LoginWindow.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.TabPanel.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.menu.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.MenuBar.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.CustomGridNE.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.CustomGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.CityGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.StreetGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.HouseNumGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.BuildingGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.IllegalGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.WarningGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonentGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.CardGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.SourceCombo.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.RegisterGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.RegisterForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.PersonForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.StreetCombo.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.HouseCombo.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AddressForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.BalanceForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.FreeCardCombo.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonCardsGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.CardTpCombo.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonCardsTpGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonPaymentsGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonFeesGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonOperationsGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonHistoryGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonCreditsGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonIllegalGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonWarningGrid.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonCommentsPanel.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonInfoPanel.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonentForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.PaymentForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.FeeForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.DisableForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.EnableForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.TransferForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonTpMoveCombo.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript" src="{% static "js/components/Ext.ux.AbonTpMoveForm.js" %}?v={{ PROGRAM_VERSION }}"></script>
    {% endcompress %}
    <script type="text/javascript" src="{% static "js/Ext.ux.MainViewport.js" %}?v={{ PROGRAM_VERSION }}"></script>
    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL = '{% static "extjs/resources/images/default/s.gif" %}?v={{ PROGRAM_VERSION }}"';
        Ext.QuickTips.init();
        
        Ext.apply(Ext.QuickTips.getQuickTip(), {
            showDelay: 1000
        });

        Ext.Ajax.on('requestcomplete', function(req,response){        	
            batch = eval(response.responseText)
            for(line in batch) {
                if(isInt(line)) {
                    data = batch[line]
                    if(Ext.isArray(data.result)) {
                        for(line in data.result) {                          
                        	$("#traceback-content").val()
                          	result = data.result[line]
                          	if(!result){
                          		continue
                          	}
                          	if(data.result.errors){
                        		Ext.ux.traceback('Критическая ошибка',data.result.errors,getCookie('csrftoken'))
                            }
                        	else if(result.msg && result.title) {
                          		if(result.success) {
                    		 		Ext.ux.msg(result.title, result.msg, Ext.Msg.INFO);
                        		} else {
                             		Ext.ux.msg(result.title, result.msg, Ext.Msg.ERROR);
                        		}
                    		}                    		
                        }
                    }
                    if(data.result.errors){
                        Ext.ux.traceback('Критическая ошибка',data.result.errors,getCookie('csrftoken'))                             	
                    }
                    else if(data.result.msg && data.result.title) {
                    	if(data.result.success) {
                    		 Ext.ux.msg(data.result.title, data.result.msg, Ext.Msg.INFO);
                        } else {
                             Ext.ux.msg(data.result.title, data.result.msg, Ext.Msg.ERROR);                             
                        }
                    }
                }                    
            }            
        }, this);

        Ext.Ajax.on('requestexception', function(){
            Ext.ux.msg('Failure', 'Request failed', Ext.Msg.ERROR);
        }, this);
        
        Ext.Direct.on('exception', function(event){            
            Ext.ux.msg('RPC Error', event.result.error, Ext.Msg.ERROR);
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?

                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                }
            },
            dataType: 'json',
            error:function(jqXHR, textStatus, errorThrown){
                alert(textStatus +'\n'+ errorThrown)
            }
        });

    </script>
{% endblock %}

{% block body %}
	{% csrf_token %}
    <div id="loading-mask" style=""></div>
    <div id="loading-mask-half" style=""></div>
    <div id="loading">
        <div class="loading-indicator">
            <!-- <img src="{% static "img/ajax-loader2.gif" %}?v={{ PROGRAM_VERSION }}" width="100" height="100" style="margin-right:8px;" align="absmiddle"/>
			-->
        </div>
    </div>

        
    {% block content %}{% endblock %}
    
    <script type="text/javascript">
    Ext.onReady(function(){
		
		Ext.Ajax.timeout = 60000;  
		
		/*
		 *  CSRF and ExtJS
		 *  http://djbook.ru/examples/22/
		 */
		
		window.getCookie = function(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
              }
          }
          return cookieValue;
	    };
		
		Ext.Ajax.on('beforerequest', function(conn, options){
          if (!(/^http:.*/.test(options.url) || /^https:.*/.test(options.url))) {
              options.headers = options.headers || {};
              options.headers["X-CSRFToken"] = getCookie('csrftoken');
          }              
      	}, this);
		
        setTimeout(function(){            
            Ext.get('loading-mask').fadeOut();
        }, 250);
    });
    </script> 
{% endblock %}