{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/statements/fileuploadfield.css" %}" />
    <script type="text/javascript" src="{% url "statements:api" %}?v={{ PROGRAM_VERSION }}і"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static "js/statements/ui-head.js" %}"></script>
    <script type="text/javascript" src="{% static "js/statements/Ext.ux.components.js" %}"></script>
    <script type="text/javascript" src="{% static "js/statements/FileUploadField.js" %}"></script>
    <script type="text/javascript" src="{% static "js/statements/Ext.ux.MainViewport.js" %}"></script>
    <script type="text/javascript" src="{% static "js/statements/Ext.ux.MultiRowTabPanel.js" %}"></script>
    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL = '{% static "extjs/resources/images/default/s.gif" %}';
        Ext.QuickTips.init();
        
        Ext.apply(Ext.QuickTips.getQuickTip(), {
            showDelay: 1000
        });

        Ext.Ajax.on('requestcomplete', function(req,response){
            try {
                batch = eval(response.responseText);
            }
            catch (e) {
                console.log(e);
                return false;
            }

            for(line in batch) {
                if(isInt(line)) {
                    data = batch[line]
                    if(Ext.isArray(data.result)) {
                        for(line in data.result) {
                        	$("#traceback-content").val()
                          	result = data.result[line]
                          	if(!result){
                          		continue
                          	}
                          	if(data.result.errors){
                        		Ext.ux.traceback('Критическая ошибка',data.result.errors,getCookie('csrftoken'))
                            }
                        	else if(result.msg && result.title) {
                          		if(result.success) {
                    		 		Ext.ux.msg(result.title, result.msg, Ext.Msg.INFO);
                        		} else {
                             		Ext.ux.msg(result.title, result.msg, Ext.Msg.ERROR);
                        		}
                    		}
                        }
                    }
                    if(data.result.errors){
                        Ext.ux.traceback('Критическая ошибка',data.result.errors,getCookie('csrftoken'))
                    }
                    else if(data.result.msg && data.result.title) {
                    	if(data.result.success) {
                    		 Ext.ux.msg(data.result.title, data.result.msg, Ext.Msg.INFO);
                        } else {
                             Ext.ux.msg(data.result.title, data.result.msg, Ext.Msg.ERROR);
                        }
                    }
                }
            }
        }, this);

        Ext.Ajax.on('requestexception', function(){
            Ext.ux.msg('Failure', 'Request failed', Ext.Msg.ERROR);
        }, this);
        
        Ext.Direct.on('exception', function(event){            
            Ext.ux.msg('RPC Error', event.result.error, Ext.Msg.ERROR);
        });        
    </script>
    {% endcompress %}
{% endblock %}

{% block body %}
	{% csrf_token %}
    <div id="loading-mask" style=""></div>
    <div id="loading-mask-half" style=""></div>
    <div id="loading">
        <div class="loading-indicator">
            <!-- <img src="{% static "img/ajax-loader2.gif" width="100" height="100" style="margin-right:8px;" align="absmiddle"/>
			-->
        </div>
    </div>

        
    {% block content %}{% endblock %}
    
    <script type="text/javascript">
    Ext.onReady(function(){
		
		Ext.Ajax.timeout = 60000;  
		
		/*
		 *  CSRF and ExtJS
		 *  http://djbook.ru/examples/22/
		 */
		
		window.getCookie = function(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
              }
          }
          return cookieValue;
	    };
		
		Ext.Ajax.on('beforerequest', function(conn, options){
          if (!(/^http:.*/.test(options.url) || /^https:.*/.test(options.url))) {
              options.headers = options.headers || {};
              options.headers["X-CSRFToken"] = getCookie('csrftoken');
          }              
      	}, this);
		
        setTimeout(function(){            
            Ext.get('loading-mask').fadeOut();
        }, 250);
    });
    </script> 
{% endblock %}