{% extends 'statements/base.html' %}
{% load static %}

{% block content %}
        <script type="text/javascript">
            window.day = '{{ day }}';
            window.statement_id = {{ statement_id }};
            console.log(window.statement_id)

            Ext.onReady(function(){
                setTimeout(
                        function() {
                            Ext.getCmp("form-date-input").setValue("{{ day }}")
                        }, 1000
                );
            })
        </script>
        <script type="text/javascript" src="{% static "js/statements/ui-index.js" %}?v={{ PROGRAM_VERSION }}"></script>
{% endblock %}
